@model IEnumerable<HelpDeskVNext.Data.Models.ApplicationUser>


<h2>Gerir utilizadores</h2>
<hr />
<br />
<div>
    <a class="btn btn-default" asp-controller="Account" asp-action="Register" asp-route-login="false">Adicionar utilizador</a>
</div>
<br />


<!-- Table -->
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Username</th>
            <th>Departamento</th>
            <th>Acesso</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Nome</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.UserName</td>
                <td>
                    @if (user.Departamento != null)
                    {
                        <a asp-controller="Departamentos" asp-action="Details" asp-route-id="@user.Departamento.DepartamentoId">@user.Departamento.Nome</a>
                    }
                </td>
                <td><a asp-controller="Acessos" asp-action="List" asp-route-id="@user.Id">@user.Roles.Count</a></td>
                <td>
                    <a asp-controller="Utilizadores" asp-action="Editar" asp-route-id="@user.Id">Editar</a> |
                    <a asp-controller="Utilizadores" asp-action="Apagar" asp-route-id="@user.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
