@model IEnumerable<HelpDeskVNext.Data.Entitidades.Prioridade>

@{
    ViewData["Title"] = "Gerir prioridades";
}

<h2>Gerir prioridades</h2>

<p>
    <a asp-action="Create">Criar nova</a>
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designacao)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PrioridadeId">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.PrioridadeId">Detalhes</a> |
            <a asp-action="Delete" asp-route-id="@item.PrioridadeId">Apagar</a>
        </td>
    </tr>
}
</table>
