@model IEnumerable<HelpDeskVNext.Data.Entitidades.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInsercao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConclusao)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInsercao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConclusao)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
        </td>
    </tr>
}
</table>
