@model IEnumerable<HelpDeskVNext.Data.Entitidades.Estado>

@{
    ViewData["Title"] = "Gerir estados";
}

<h2>Gerir estados</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designacao)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.EstadoId">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.EstadoId">Detalhe</a> |
            <a asp-action="Delete" asp-route-id="@item.EstadoId">Apagar</a>
        </td>
    </tr>
}
</table>
