@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>


<h2>Gerir acessos</h2>
<hr />
<br />
<div>
    <a class="btn btn-default" asp-controller="Acessos" asp-action="Adicionar">Adicionar acesso</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Utilizadores</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acesso in Model)
            {
            <tr>
                <td>@acesso.Name</td>
                <td><a asp-controller="Utilizadores" asp-action="List" asp-route-id="@acesso.Name">@acesso.Users.Count</a></td>
                <td class="td-actions">
                    <a asp-action="Editar" asp-route-id="@acesso.Id">Editar</a> |
                    <a asp-action="Detalhe" asp-route-id="@acesso.Id">Detalhes</a> |
                    <a asp-action="Apagar" asp-route-id="@acesso.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>